* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gentium Book Plus", serif;
}

@media only screen and (min-width: 992px) {
  .content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .container {
    display: flex;
    width: 85%;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    padding-left: 100px;
  }
  .container .contain {
    width: 50%;
  }
  .head h1 {
    color: whitesmoke;
    font-size: 4em;
    position: relative;
    top: -70px;
    width: 80%;
    font-weight: bolder;
  }
  .head > p {
    color: whitesmoke;
    width: 80%;
    position: relative;
    top: -40px;
    font-size: 1.2em;
  }
  .head-1 {
    display: flex;
    justify-content: center;
  }
  .head-1 img {
    width: 80%;
    transition: width 3s;
    cursor: pointer;
  }

  .head-1 img:hover {
    width: 88%;
  }
  .btn {
    display: flex;
    background-color: #dd0000;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .btn a {
    text-decoration: none;
    color: whitesmoke;
  }
  .btn p {
    margin-right: 17px;
  }
  .btn:hover {
    width: 198px;
    background-color: rgb(227, 76, 0);
  }

  /* Blog part start */
  .body-part {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .blog {
    display: flex;
    width: 85%;
  }
  .side-bar {
    background-color: #161616;
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
  }
  .side-bar p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
    margin: 15px;
    border-radius: 10px;
    font-size: 1.3em;
    cursor: pointer;
  }
  .side-bar a {
    text-decoration: none;
    color: black;
  }
  .side-bar p:hover {
    background-color: #dd0000;
    color: whitesmoke;
  }
  #mark {
    background-color: #dd0000;
    color: whitesmoke;
  }
  #link {
    color: whitesmoke;
  }

  .blog-2 {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    width: 90%;
  }
  .blog-3 {
    box-shadow: 2px 2px 8px 3px rgb(187, 187, 187);
    border-radius: 12px;
  }
  .blog-3:hover {
    box-shadow: 1px 1px 3px 2px rgb(187, 187, 187);
  }
  .img-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-1 img {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .btn-2 {
    margin-left: 30px;
    width: 100px;
    height: 30px;
    font-size: 1em;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(250, 11, 111);
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border: none;
  }
  .btn-2:hover {
    background-color: #fb4040;
    box-shadow: 0px 0px 0px rgb(187, 187, 187);
  }
  .btn-3 {
    display: none;
  }
  .text {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  .blog-footer {
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .blog-footer2 {
    display: flex;
    padding-right: 25px;
  }
  .blog-footer2 p {
    margin-left: 10px;
  }

  /* footer part start  */

  .footer-main {
    background-color: #07010a;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .footer-part {
    justify-content: center;
    width: 85%;
    margin: 0 auto;
  }
  .footer-part2 {
    display: flex;
    margin-bottom: 50px;
  }
  .footer-part3 {
    width: 75%;
  }
  .footer-part4 {
    width: 25%;
  }
  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
    font-weight: 600;
    color: gold;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
  }
  .footer-bottom2 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    grid-gap: 10px;
    padding: 25px 0;
  }
  .footer-bottom2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1em;
    color: gold;
  }
  .line {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  .icon-12 {
    background-color: #07010a;
    display: flex;
    position: relative;
    flex-direction: column;
    top: 25px;
    left: 100px;
    width: 100%;
    height: 130px;
  }
  .icon-12 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }
  .gap {
    margin-bottom: 20px;
  }
  #line-1 {
    opacity: 0.4;
  }
  .icon-12 a .fab {
    font-size: 1.2rem;
    color: #fec53a;
    margin-right: 15px;
  }
  .icon-12 a:hover {
    color: #fec53a;
    font-size: 1.25rem;
    background: none;
  }

  .bottom {
    width: 100%;
    height: 10vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom span {
    color: #fec53a;
  }
}

/* tablet device start here 
----------------------- */

@media only screen and (min-width: 651px) and (max-width: 991px) {
  .content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .container {
    display: flex;
    width: 90%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    padding-left: 80px;
  }
  .container .contain {
    width: 50%;
  }
  .head h1 {
    color: whitesmoke;
    font-size: 2.7em;
    position: relative;
    width: 100%;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .head > p {
    color: whitesmoke;
    width: 90%;
    position: relative;
    font-size: 1em;
    margin-bottom: 30px;
  }
  .head-1 {
    display: flex;
    justify-content: center;
  }
  .head-1 img {
    width: 90%;
    height: 450px;
    transition: width 3s;
  }
  .head-1 img:hover {
    width: 95%;
  }
  .btn {
    display: flex;
    background-color: #dd0000;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn p {
    margin-right: 17px;
  }
  .btn:hover {
    width: 168px;
    background-color: rgb(227, 76, 0);
  }
  .btn a {
    text-decoration: none;
    color: whitesmoke;
  }
  /* Body part start */

  .body-part {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .blog {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .side-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
  }
  .side-bar p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
    margin: 15px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
    font-size: 1.3em;
  }
  .side-bar p:hover {
    background-color: #dd0000;
    color: whitesmoke;
  }
  .side-bar a {
    text-decoration: none;
    color: black;
  }

  #mark {
    background-color: #dd0000;
    color: whitesmoke;
  }
  #link {
    color: whitesmoke;
  }

  .blog-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .blog-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    width: 90%;
  }
  .blog-3 {
    box-shadow: 2px 2px 8px 3px rgb(187, 187, 187);
    border-radius: 12px;
  }
  .blog-3:hover {
    box-shadow: 1px 1px 3px 2px rgb(187, 187, 187);
  }
  .img-1 {
    display: flex;
    justify-content: center;
  }
  .img-1 img {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .btn-2 {
    margin-left: 30px;
    width: 100px;
    height: 30px;
    font-size: 1em;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(250, 11, 111);
    border: none;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
  }

  .btn-2:hover {
    background-color: #fb4040;
    box-shadow: 0px 0px 0px rgb(187, 187, 187);
  }
  .btn-3 {
    display: none;
  }
  .text {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  .blog-footer {
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .blog-footer2 {
    display: flex;
    padding-right: 25px;
  }
  .blog-footer2 p {
    margin-left: 10px;
  }

  .btn-3 {
    background-color: #dd0000;
    display: flex;
    color: #fff;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgb(122, 122, 122);
    font-size: 1.2em;
    align-items: center;
    width: 15%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
  }

  .btn-3:hover {
    width: 14%;
    font-size: 1.1em;
    background-color: #fb4040;
    box-shadow: 1px 1px 2px rgb(122, 122, 122);
  }

  /* footer part start here */

  .footer-main {
    background-color: #07010a;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .footer-part {
    justify-content: center;
    width: 85%;
    margin: 0 auto;
  }
  .footer-part2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer-part3 {
    width: 100%;
  }
  .footer-part4 {
    width: 100%;
    margin-top: 30px;
  }
  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
    font-weight: 600;
    color: gold;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
  }
  .footer-bottom2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
  .footer-bottom2 p {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1em;
    color: gold;
  }
  .line {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  #line-1 {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  .icon-12 {
    background-color: #07010a;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .icon-12 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }
  .icon-12 a .fab {
    font-size: 1.2rem;
    color: #fec53a;
    margin-right: 15px;
  }
  .icon-12 a:hover {
    color: #fec53a;
    font-size: 1.25rem;
    background: none;
  }

  .bottom {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom span {
    color: #fec53a;
  }
}

/* ---------------------------------------
Mobile part start here 
--------------------------------------- */

@media only screen and (max-width: 650px) {
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
  }
  .container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: #161616;
    border-radius: 10px;
    padding-left: 60px;
  }
  .head h1 {
    color: whitesmoke;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 13px;
    width: 70%;
    font-weight: bolder;
    text-align: center;
  }
  .head > p {
    color: whitesmoke;
    width: 80%;
    margin-top: 20px;
    font-size: 1em;
    margin-bottom: 30px;
    text-align: center;
  }
  .head-1 {
    display: flex;
    justify-content: center;
    position: relative;
    left: -30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .head-1 img {
    width: 100%;
  }
  .btn {
    display: flex;
    background-color: #dd0000;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    border: none;
    width: 160px;
    height: 45px;
    font-size: 17px;
    border-radius: 10px;
    margin-left: 38px;
  }
  .btn p {
    margin-right: 17px;
  }
  .btn a {
    text-decoration: none;
    color: whitesmoke;
  }

  /* Body part start */

  .body-part {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .blog {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .side-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .side-bar p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
    margin: 15px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
    font-size: 0.9em;
  }
  .side-bar a {
    text-decoration: none;
    color: black;
  }

  #mark {
    background-color: #dd0000;
    color: whitesmoke;
  }
  #link {
    color: whitesmoke;
  }

  .blog-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .blog-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    width: 90%;
  }
  .blog-3 {
    box-shadow: 2px 2px 6px 3px rgb(187, 187, 187);
    border-radius: 12px;
  }
  .img-1 {
    display: flex;
    justify-content: center;
  }
  .img-1 img {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .btn-2 {
    margin-left: 30px;
    width: 100px;
    height: 30px;
    font-size: 1em;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
  }
  .btn-3 {
    display: none;
  }
  .text {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  .blog-footer {
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .blog-footer2 {
    display: flex;
    padding-right: 25px;
  }
  .blog-footer2 p {
    margin-left: 10px;
  }

  .btn-3 {
    background-color: #dd0000;
    display: flex;
    color: #fff;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgb(122, 122, 122);
    font-size: 1.2em;
    align-items: center;
    width: 30%;
    height: 40px;
    margin: 0 auto;
  }

  /* footer part start here */

  .footer-main {
    background-color: #07010a;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .footer-part {
    justify-content: center;
    width: 85%;
    margin: 0 auto;
  }
  .footer-part2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer-part3 {
    width: 100%;
  }
  .footer-part4 {
    width: 100%;
    margin-top: 40px;
  }
  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
    font-weight: 600;
    color: gold;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
  }
  .footer-bottom2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
  }
  .footer-bottom2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-top: 40px;
    font-size: 1.2em;
    color: gold;
  }
  .line {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    opacity: 0.4;
  }
  #line-1 {
    visibility: hidden;
  }

  .icon-12 {
    background-color: #07010a;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .icon-12 a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
  }
  .icon-12 a .fab {
    font-size: 1.2rem;
    color: #fec53a;
    margin-right: 15px;
  }
  .icon-12 a:hover {
    color: #fec53a;
    font-size: 1.1em;
    background: none;
  }

  .bottom {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
  }
  .bottom span {
    color: #fec53a;
  }
}
